* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-image: url("/img/bg-3.jpg");
  background-size: cover;
  height: 100%;
}
.main-con {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  flex-direction: column;
  align-items: center;
}
.chooseCity {
  width: 400px;
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgb(140, 140, 153);
}
.cityRequest,
.stateRequest {
  border: 1px solid black;
  border-radius: 0.25rem;
  text-align: center;
  padding: 0.25rem 0;
}
.stateRequest {
  width: 3rem;
  text-align: none;
}
.submit {
  color: white;
  background-color: rgb(11, 144, 184);
  border-radius: 0.25rem;
  padding: 0.25rem 2rem;
}
.outputGroup {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 2rem;
  color: rgb(140, 140, 153);
  background: rgba(0, 0, 0, 0.75);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  border-radius: 1rem;
  border: 1px solid rgb(140, 140, 153);
  padding: 0 15px;
  padding-top: 15px;
  margin-top: 1rem;
  line-height: 50px;
}
.weatherOutput {
  display: flex;
}
.condition-con,
.wind-con {
  display: flex;
  flex-direction: row;
}
.condition-con {
  margin-right: -15px;
}
.outputInfo,
.outputCats,
.buffer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.outputGroup .cityOutput {
  display: flex;
  align-self: center;
  flex-basis: 100%;
}
.outputInfo div,
.outputCats div {
  height: 50px;
}
.buffer {
  width: 50px;
}
.hidden {
  display: none;
}
.windDir {
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 0.75rem;
  transform: rotate(90deg);
}
.openWeather {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.75);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  border-radius: 1rem;
  border: 1px solid rgb(140, 140, 153);
  padding: 0 15px;
  margin-top: 1rem;
  line-height: 50px;
  font-size: 0.8rem;
  position: absolute;
  align-content: center;
  bottom: 1%;
}
.openWeather a {
  /* color: white; */
  color: #eb6e4b;
}
.openWeather a:hover {
}
